
/* * {
  border: 1px solid red;
} */


/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

body {
    background-color:#f0f2f5;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr;

}

header {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-content: center;
}

.logo-button-container {
    display: grid;
    grid-auto-flow: column;
    border-bottom: 1px solid #e7e9eb;
}

img {
    height: 2rem;
    width: 2rem;
    padding-bottom: 4px;
}

.logo-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    background-color: white;
    padding: 20px;

}

.button-container {
    display: grid;
    justify-content: end;
    align-items: center;
    background-color: white;
    padding: 20px;

}

.modal {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    color: grey;
}

.modal {
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.2);
}

.modal.open {
    opacity: 1;
    z-index: 999;
    
}

.modal-header {
    padding: 15px;
}

.modal-inner {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0,3);
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.modal-buttons {
    padding: 15px;
}

.form-container {
    display: grid;
    grid-gap: 10px;
    padding: 30px;
}

.form-group {
    display: grid;
    justify-items: start;
}

.label-group {
    font-size: 12px;
}

#form-checkbox {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

#cancel-book-button {
 background-color: white;
  color: #6c768a;
  border-radius: 6px;
  font-size: 15px;
  border: 1px solid #e7e9eb;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 120px;
  height: 30px;
  text-align: center;
}

#cancel-book-button:hover {
    background-color: #912203;
    color: white;
}


#add-book-button {
  background-color: white;
  color: #6c768a;
  border-radius: 6px;
  font-size: 15px;
  border: 1px solid #e7e9eb;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 120px;
  height: 30px;
  text-align: center;
}

#add-book-button:hover {
    background-color: #03915d;
    color: white;
}

.status-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    padding: 20px;
}

.status-card {
    background-color: white;
    border: 1px solid #e7e9eb;
    padding: 10px;
    border-radius: 10px;
}

.status {
    font-size: small;
    color: #6c768a;
}

#total, #read, #unread {
    font-weight: bolder;
    font-size: x-large;
}

#read {
    color: #27ae61;
}

#unread {
    color:#2596be;
}



main {
    display: grid;
    grid-auto-flow: row;
    padding-left: 20px;
    padding-right: 20px;
    align-content: start;
    grid-gap: 10px;
}

h3 {
    color: #6c768a;
}

.books-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  grid-gap: 20px;
}

.bookPages {
    display: flex;
    justify-content: flex-end;
    color: #6c768a;
    
}

.book {
    display: flex;
    justify-content: space-between;   
}

.bookCard {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border-left: 8px solid rgb(0, 60, 255);
}

.book-details {
    display: flex;
    flex-direction: column;

}

.book-actions {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.book-actions > img {
    height: 25px;
    width: 25px;
    border: 1px solid #b8c9da;;
    border-radius: 5px;
    text-align: center;
    padding: 0;
}

.title {
    font-weight: bolder;
}

.author, .read {
    color: #6c768a;
}

.pages {
    display: grid;
    justify-items: end;
    color: #6c768a;
}

