
/* * {
  border: 1px solid red;
} */


/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

body {
    background-color:#f0f2f5;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr;

}

header {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-content: center;
}

.logo-button-container {
    display: grid;
    grid-auto-flow: column;
    border-bottom: 1px solid #e7e9eb;
}

img {
    height: 2rem;
    width: 2rem;
    padding-bottom: 4px;
}

.logo-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    background-color: white;
    padding: 20px;

}

.button-container {
    display: grid;
    justify-content: end;
    align-items: center;
    background-color: white;
    padding: 20px;

}

#add-book-button {
  background-color: white;
  color: #6c768a;
  border-radius: 6px;
  font-size: 15px;
  border: 1px solid #e7e9eb;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 120px;
  height: 30px;
  text-align: center;
}

#add-book-button:hover {
    background-color: #03915d;
    color: white;
}

.status-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    padding: 20px;
}

.status-card {
    background-color: white;
    border: 1px solid #e7e9eb;
    padding: 10px;
    border-radius: 10px;
}

.status {
    font-size: small;
    color: #6c768a;
}

#total, #read, #unread {
    font-weight: bolder;
    font-size: x-large;
}

#read {
    color: #27ae61;
}

#unread {
    color:#2596be;
}



main {
    padding-left: 20px;
    padding-right: 20px;
}

h3 {
    color: #6c768a;
}